[Desktop Entry]
Name=SIMARC
Comment=Sistem Informasi Manajemen Arsip
Exec=bash -c "cd %k && ./run-desktop.sh"
Terminal=false
Type=Application
Icon=web/static/images/logo-icon.svg
Categories=Office;
